@mixin variables {
  --accent-primary-50: #E8ECFE;
  --accent-primary-100: #D3DBFE;
  --accent-primary-150: #BEC9FD;
  --accent-primary-200: #A9B8FD;
  --accent-primary-250: #94A7FC;
  --accent-primary-300: #7F96FC;
  --accent-primary-350: #6A85FB;
  --accent-primary-400: #5674FA;
  --accent-primary-450: #4163FA;
  --accent-primary-500: #2C51F9;
  --accent-primary-550: #1740F9;
  --accent-primary-600: #022FF8;
  --accent-primary-650: #022ADD;
  --accent-primary-700: #0225C1;
  --accent-primary-750: #0120A6;
  --accent-primary-800: #011A8B;
  --accent-primary-850: #011570;
  --accent-primary-900: #011054;
  --accent-primary-950: #010B39;
  --accent-primary-1000: #00061E;

  --accent-primary-transluent-5: #022FF80D;
  --accent-primary-transluent-10: #022FF819;
  --accent-primary-transluent-15: #022FF826;
  --accent-primary-transluent-20: #022FF833;
  --accent-primary-transluent-30: #022FF84D;
  --accent-primary-transluent-50: #022FF880;
  --accent-primary-transluent-70: #022FF8B3;
  --accent-primary-transluent-80: #022FF8CC;
  --accent-primary-transluent-90: #022FF8E6;

  --accent-secondary-50: #FFEDE9;
  --accent-secondary-100: #FFE4D8;
  --accent-secondary-150: #FFD8C6;
  --accent-secondary-200: #FFCBB4;
  --accent-secondary-250: #FFBEA1;
  --accent-secondary-300: #FFB28F;
  --accent-secondary-350: #FFA57D;
  --accent-secondary-400: #FF996A;
  --accent-secondary-450: #FF8C58;
  --accent-secondary-500: #FF7F46;
  --accent-secondary-550: #FF7333;
  --accent-secondary-600: #FF6621;
  --accent-secondary-650: #DF591D;
  --accent-secondary-700: #C04D19;
  --accent-secondary-750: #A04015;
  --accent-secondary-800: #813411;
  --accent-secondary-850: #61270D;
  --accent-secondary-900: #421A09;
  --accent-secondary-950: #220E04;
  --accent-secondary-1000: #030100;

  --accent-secondary-5-transluent: #FF66210D;
  --accent-secondary-10-transluent: #FF662119;
  --accent-secondary-15-transluent: #FF662126;
  --accent-secondary-20-transluent: #FF662133;
  --accent-secondary-30-transluent: #FF66214D;
  --accent-secondary-50-transluent: #FF662180;
  --accent-secondary-70-transluent: #FF6621B3;
  --accent-secondary-80-transluent: #FF6621CC;
  --accent-secondary-90-transluent: #FF6621E6;
}