@mixin variables {
  --system-red-50: #FFEAE9;
  --system-red-100: #FFD7D6;
  --system-red-150: #FFC5C3;
  --system-red-200: #FFB2AF;
  --system-red-250: #FF9F9C;
  --system-red-300: #FF8C88;
  --system-red-350: #FF7A75;
  --system-red-400: #FF6762;
  --system-red-450: #FF544E;
  --system-red-500: #FF423B;
  --system-red-550: #FF2F27;
  --system-red-600: #FF1C14;
  --system-red-650: #DF1912;
  --system-red-700: #C0150F;
  --system-red-750: #A0120D;
  --system-red-800: #810E0A;
  --system-red-850: #610B08;
  --system-red-900: #420705;
  --system-red-950: #220403;
  --system-red-1000: #030000;

  --system-red-transluent-5: #FF1C140D;
  --system-red-transluent-10: #FF1C1419;
  --system-red-transluent-15: #FF1C1426;
  --system-red-transluent-20: #FF1C1433;
  --system-red-transluent-30: #FF1C144D;
  --system-red-transluent-40: #FF1C1466;
  --system-red-transluent-50: #FF1C1480;
  --system-red-transluent-60: #FF1C1499;
  --system-red-transluent-70: #FF1C14B3;
  --system-red-transluent-80: #FF1C14CC;
  --system-red-transluent-90: #FF1C14E6;

  --system-yellow-50: #FFF6E9;
  --system-yellow-100: #FFEFD6;
  --system-yellow-150: #FFE7C3;
  --system-yellow-200: #FFDFAF;
  --system-yellow-250: #FFD79C;
  --system-yellow-300: #FFD088;
  --system-yellow-350: #FFC875;
  --system-yellow-400: #FFC062;
  --system-yellow-450: #FFB84E;
  --system-yellow-500: #FFB13B;
  --system-yellow-550: #FFA927;
  --system-yellow-600: #FFA114;
  --system-yellow-650: #DF8D12;
  --system-yellow-700: #C0790F;
  --system-yellow-750: #A0650D;
  --system-yellow-800: #81510A;
  --system-yellow-850: #613D08;
  --system-yellow-900: #422A05;
  --system-yellow-950: #221603;
  --system-yellow-1000: #030200;

  --system-yellow-transluent-5: #FFA1140D;
  --system-yellow-transluent-10: #FFA11419;
  --system-yellow-transluent-15: #FFA11426;
  --system-yellow-transluent-20: #FFA11433;
  --system-yellow-transluent-30: #FFA1144D;
  --system-yellow-transluent-40: #FFA11466;
  --system-yellow-transluent-50: #FFA11480;
  --system-yellow-transluent-60: #FFA11499;
  --system-yellow-transluent-70: #FFA114B3;
  --system-yellow-transluent-80: #FFA114CC;
  --system-yellow-transluent-90: #FFA114E6;

  --system-green-50: #E9FFEC;
  --system-green-100: #D6FFDB;
  --system-green-150: #C3FFCA;
  --system-green-200: #AFFFB9;
  --system-green-250: #9CFFA8;
  --system-green-300: #88FF97;
  --system-green-350: #75FF85;
  --system-green-400: #62FF74;
  --system-green-450: #4EFF63;
  --system-green-500: #3BFF52;
  --system-green-550: #27FF41;
  --system-green-600: #14FF30;
  --system-green-650: #12DF2A;
  --system-green-700: #0FC024;
  --system-green-750: #0DA01E;
  --system-green-800: #0A8118;
  --system-green-850: #086112;
  --system-green-900: #05420C;
  --system-green-950: #032206;
  --system-green-1000: #000301;

  --system-green-transluent-5: #14FF300D;
  --system-green-transluent-10: #14FF3019;
  --system-green-transluent-15: #14FF3026;
  --system-green-transluent-20: #14FF3033;
  --system-green-transluent-30: #14FF304D;
  --system-green-transluent-40: #14FF3066;
  --system-green-transluent-50: #14FF3080;
  --system-green-transluent-60: #14FF3099;
  --system-green-transluent-70: #14FF30B3;
  --system-green-transluent-80: #14FF30CC;
  --system-green-transluent-90: #14FF30E6;

  --system-blue-50: #E9F4FF;
  --system-blue-100: #D6EAFF;
  --system-blue-150: #C3E0FF;
  --system-blue-200: #AFD6FF;
  --system-blue-250: #9CCCFF;
  --system-blue-300: #88C2FF;
  --system-blue-350: #75B8FF;
  --system-blue-400: #62AEFF;
  --system-blue-450: #4EA4FF;
  --system-blue-500: #3B9AFF;
  --system-blue-550: #2790FF;
  --system-blue-600: #1486FF;
  --system-blue-650: #1275DF;
  --system-blue-700: #0F65C0;
  --system-blue-750: #0D54A0;
  --system-blue-800: #0A4481;
  --system-blue-850: #083361;
  --system-blue-900: #052342;
  --system-blue-950: #031222;
  --system-blue-1000: #000103;

  --system-blue-transluent-5: #1486FF0D;
  --system-blue-transluent-10: #1486FF19;
  --system-blue-transluent-15: #1486FF26;
  --system-blue-transluent-20: #1486FF33;
  --system-blue-transluent-30: #1486FF4D;
  --system-blue-transluent-40: #1486FF66;
  --system-blue-transluent-50: #1486FF80;
  --system-blue-transluent-60: #1486FF99;
  --system-blue-transluent-70: #1486FFB3;
  --system-blue-transluent-80: #1486FFCC;
  --system-blue-transluent-90: #1486FFE6;

  --system-purple-50: #FBE9FF;
  --system-purple-100: #F8D6FF;
  --system-purple-150: #F4C3FF;
  --system-purple-200: #F0AFFF;
  --system-purple-250: #ED9CFF;
  --system-purple-300: #E988FF;
  --system-purple-350: #E675FF;
  --system-purple-400: #E262FF;
  --system-purple-450: #DF4EFF;
  --system-purple-500: #DB3BFF;
  --system-purple-550: #D827FF;
  --system-purple-600: #D414FF;
  --system-purple-650: #BA12DF;
  --system-purple-700: #A00FC0;
  --system-purple-750: #850DA0;
  --system-purple-800: #6B0A81;
  --system-purple-850: #510861;
  --system-purple-900: #370542;
  --system-purple-950: #1C0322;
  --system-purple-1000: #020003;

  --system-purple-transluent-5: #D414FF0D;
  --system-purple-transluent-10: #D414FF19;
  --system-purple-transluent-15: #D414FF26;
  --system-purple-transluent-20: #D414FF33;
  --system-purple-transluent-30: #D414FF4D;
  --system-purple-transluent-40: #D414FF66;
  --system-purple-transluent-50: #D414FF80;
  --system-purple-transluent-60: #D414FF99;
  --system-purple-transluent-70: #D414FFB3;
  --system-purple-transluent-80: #D414FFCC;
  --system-purple-transluent-90: #D414FFE6;
}